MYSQL_ROOT_PASSWORD=JYQ3js2lreLz
MYSQL_PASSWORD=zSEil10HgkYx
MYSQL_DATABASE=Ug2tDfC4CIMo
MYSQL_USER=Ut15H2gOYgfI

POSTGRES_USER=asfsdafs
POSTGRES_PASSWORD=fsdafewag
POSTGRES_DB=asfrawagsda

N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=VeryStrongAuthPass456$%^
N8N_ENCRYPTION_KEY=generate_a_strong_64_char_key_like_this_one_using_openssl_rand_hex_32
N8N_WEBHOOK_URL=http://localhost:5678/
DOMAIN_NAME=example.com
SUBDOMAIN=n8n
SSL_EMAIL=user@example.com

AP_ENCRYPTION_KEY=your-very-long-random-32+-char-key-here
AP_FRONTEND_URL=http://activepieces:3000
AP_JWT_SECRET=another-long-random-string-for-jwt
AP_POSTGRES_DATABASE=activepieces
AP_POSTGRES_HOST=postgres
AP_POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
AP_POSTGRES_PORT=5432
AP_POSTGRES_USERNAME=${POSTGRES_USER}
AP_REDIS_HOST=redis
AP_REDIS_PORT=6379
# Optional but recommended
AP_EXECUTION_MODE=SANDBOXED     # or UNSANDBOXED — sandbox is more secure

WG_INTERFACE=wg0
HOMESERVER_LAN_IP=192.168.4.201
HOMESERVER_WG_IP=10.13.13.2
VPS_WG_IP=10.13.13.1
WG_TUNNEL_SUBNET=10.13.13.0/24
WG_CONTAINER_NAME=wireguard

GITHUB_USERNAME=github-user