MYSQL_ROOT_PASSWORD=JYQ3js2lreLz
MYSQL_PASSWORD=zSEil10HgkYx
MYSQL_DATABASE=Ug2tDfC4CIMo
MYSQL_USER=Ut15H2gOYgfI

POSTGRES_USER=asfsdafs
POSTGRES_PASSWORD=fsdafewag
POSTGRES_DB=asfrawagsda

N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=VeryStrongAuthPass456$%^
N8N_ENCRYPTION_KEY=generate_a_strong_64_char_key_like_this_one_using_openssl_rand_hex_32
N8N_WEBHOOK_URL=http://localhost:5678/ 